@model Universal_Chat_Plugin.Models.Admin

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Admin</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label class="control-label col-md-2" for="First_name">First_name</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="First_name" name="First_name" type="text" value="@Model.First_name" />
                @Html.ValidationMessageFor(model => model.First_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Last_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Last_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Last_name, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Password)

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Gender">Gender</label>
            <div class="col-md-10">
                <table>
                    <tr>
                        <td>
                            <input type="radio" name="Gender" id="Gender" value="Male" @(Model.Gender == "Male" ? "checked='true'" : "") required>
                            <label>Male</label>

                            <input type="radio" name="Gender" id="Gender" value="Female" @(Model.Gender == "Female" ? "checked='true'" : "") required>
                            <label>Female</label>
                        </td>
                    </tr>
                </table>
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Addresss, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Addresss, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Addresss, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="DateOfBirth">DateOfBirth</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-date="The field DateOfBirth must be a date." data-val-required="The DateOfBirth field is required." id="DateOfBirth" name="DateOfBirth" type="date" value="@Model.DateOfBirth" />
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="JoiningDate">JoiningDate</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-date="The field JoiningDate must be a date." data-val-required="The JoiningDate field is required." id="JoiningDate" name="JoiningDate" type="date" value="@Model.JoiningDate" />
                @Html.ValidationMessageFor(model => model.JoiningDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Marital_status">Marital_status</label>
            <div class="col-md-10">
                <table>
                    <tr>
                        <td>
                            <input type="radio" name="Marital_status" id="Marital_status" value="Married" @(Model.Marital_status == "Married" ? "checked='true'" : "") required>
                            <label>Married</label>

                            <input type="radio" name="Marital_status" id="Marital_status" value="Unmarried" @(Model.Marital_status == "Unmarried" ? "checked='true'" : "") required>
                            <label>Unmarried</label>
                        </td>
                    </tr>
                </table>
                @Html.ValidationMessageFor(model => model.Marital_status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Blood_group">Blood_group</label>
            <div class="col-md-10">
                <table>
                    <tr>
                        <td>
                            <select name="Blood_group" id="Blood_group">
                                <option value="" selected disabled>Please, Select blood group from here !!</option>
                                <option value="A+" @(Model.Blood_group == "A+" ? "selected ='true'" : "") required>A+</option>
                                <option value="A-" @(Model.Blood_group == "A-" ? "selected ='true'" : "") required>A-</option>
                                <option value="B+" @(Model.Blood_group == "B+" ? "selected ='true'" : "") required>B+</option>
                                <option value="B-" @(Model.Blood_group == "B-" ? "selected ='true'" : "") required>B-</option>
                                <option value="O+" @(Model.Blood_group == "O+" ? "selected ='true'" : "") required>O+</option>
                                <option value="O-" @(Model.Blood_group == "O-" ? "selected ='true'" : "") required>O-</option>
                                <option value="AB+" @(Model.Blood_group == "AB+" ? "selected ='true'" : "") required>AB+</option>
                                <option value="AB-" @(Model.Blood_group == "AB-" ? "selected ='true'" : "") required>AB-</option>
                            </select>
                        </td>
                    </tr>
                </table>
                @Html.ValidationMessageFor(model => model.Blood_group, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

